
#loginmaindiv{
    width:85%;
    margin:auto;
    margin-top:3%;
    max-height:50vw;

    display:flex;
    border-radius:7px;
}
#loginfirstdiv{
   
    max-height:50vw;
    background: linear-gradient(180deg, rgba(1,115,179,1) 0%, rgba(38,159,241,1) 55%, rgba(106,201,241,1) 100%);    width:50%;
    border-top-left-radius:7px;
    border-bottom-left-radius:7px;
}
#registerseconddiv{
    
    max-height:50vw;
    width:50%;
    background: linear-gradient(183deg, rgba(231,90,156,1) 0%, rgba(177,68,71,1) 55%, rgba(88,33,85,1) 100%);

    border-top-right-radius:7px;
    border-bottom-right-radius:7px;
}
#h3{
    text-align: left !important;
    /* border: solid black !important; */
    font-size:2.5vw !important;
    /* letter-spacing: 2px; */
    font-weight:bolder;
    margin-top:20%;
    color: white !important;
}

#loginemaildiv{
    
    background: linear-gradient(180deg, rgba(43,43,43,1) 0%, rgba(20,20,20,1) 55%, rgba(0,0,0,1) 100%);
    width:60%;
    min-height:3vw;
    padding:1.5vw;
    margin:auto;
    margin-top:12%;
    border-radius:8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#loginemaildiv i , #loginpassworddiv i{
    font-size:2.5vw;
    color:white;
}

#loginpassworddiv{
    background: linear-gradient(180deg, rgba(43,43,43,1) 0%, rgba(20,20,20,1) 55%, rgba(0,0,0,1) 100%);
    width:60%;
    min-height:3vw;
    padding:1.5vw;
    margin:auto;
    margin-top:2%;
    border-radius:8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.iconregistered{
    float:left;
    font-size:2vw;
    color:#071e22;
   
}
input[type=text]{

    width:85%;
    border:none;
    outline:none;
    font-size:2vw;
    border-radius:5px;
    font-weight: 900;
    background-color: white;
}
input[type=password]{
    width:85%;
    border:none;
    outline:none;
    font-size:2vw;
    border-radius:5px;
    background-color: white;
}
#registeredpageimage{
    width:90%;
    margin:auto;
    margin-top:5%;
    margin-bottom:5%;
    max-height:45vw;

}
#loginbutton{
    background: linear-gradient(180deg, rgba(43,43,43,1) 0%, rgba(20,20,20,1) 55%, rgba(0,0,0,1) 100%);
    width:30%;
    min-height:3.5vw;
    margin-top:5%;
    border:none;
    outline:none;
    font-size:2vw;
    font-weight:bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#loginbutton:hover{
    border:1px solid #071e22;
}
#h5{
    margin:0;
    font-size:1.5vw;
    color:red;
}

@media only screen and (max-width: 600px) {
    body{
        background-color: #b4d1ca;
    }
    #loginmaindiv{
        width:85%;
        margin:auto;
        margin-top:3%;
        max-height:50vw;
       
        display:block;;
        border-radius:7px;
    }
    #loginfirstdiv{
       
        max-height:50vw;
        background-color: white;;
        width:90%;
        margin:auto;
        border-top-left-radius:7px;
        border-bottom-left-radius:7px;
    }
    #registerseconddiv{
        display:none;
      
        max-height:50vw;
        width:50%;
        background-color: #679289;
        border-top-right-radius:7px;
        border-bottom-right-radius:7px;
    }
    #h3{
        font-size:2vw;
        letter-spacing: 2px;
        font-weight: bold;
        margin-top:20%;
    }
    
    #loginemaildiv{
        width:60%;
        min-height:3vw;
        padding:1vw;
        margin:auto;
        margin-top:12%;
        border-radius:8px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    #loginpassworddiv{
        width:60%;
        min-height:3vw;
        padding:1vw;
        margin:auto;
        margin-top:2%;
        border-radius:8px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .iconregistered{
        float:left;
        font-size:2vw;
        color:#071e22;
       
    }
    input[type=text]{
        width:85%;
        border:none;
        outline:none;
        font-size:2vw;
        border-radius:5px;
        background-color: white;
    }
    input[type=password]{
        width:85%;
        border:none;
        outline:none;
        font-size:2vw;
        border-radius:5px;
        background-color: white;
    }
    #registeredpageimage{
        width:90%;
        margin:auto;
        margin-top:5%;
        margin-bottom:5%;
        max-height:45vw;
    
    }
    #loginbutton{
        width:30%;
        min-height:5vw;
        margin-top:5%;
        border:none;
        outline:none;
        font-size:4vw;
        font-weight:bold;
        margin-bottom:4vw;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    #loginbutton:hover{
        border:1px solid #071e22;
    }
    #h5{
        margin:0;
        font-size:1.5vw;
        color:red;
    }
}

